@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ho.mebre.ws</h1>
    <p class="lead">Homebrews is a simple webapp to assist the average hombrewer in creating and managing recipes. </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            The first thing you'll need is an account. Once you have an account you can start creating recipes.
        </p>
        <p><a class="btn btn-default" href="/Account/Register">Sign Up! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Create Recipes</h2>
        <p>Use the recipe builder to add ingredients and methodologies to your recipe. </p>
        <p><a class="btn btn-default" href="/Dashboard">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Manage Brew Days</h2>
        <p>Starting with a recipe, you can initiate a brew day. You can setup events to occur at certain times or log variances to what you expected for later analysis. </p>
        <p><a class="btn btn-default" href="/Dashboard">Coming Soon! &raquo;</a></p>
    </div>
</div>