<div id="loadingAnimation" class="pull-left" hidden="hidden" style="position:fixed;top: 50%;left: 50%; margin-top: -72px; margin-left: -100px;z-index: 1001;">
    <div class="ui-widget-overlay"></div>
    <div class="pull-left hop-stem" style="animation-delay: 0s;"></div>
    <div class="clearfix"></div>
    <div class="pull-left hop-top" style="animation-delay: 0.1s;"></div>
    <div class="clearfix"></div>
    <div class="pull-left leaf" style="animation-delay: 0.2s;"></div>
    <div class="pull-left leaf2" style="animation-delay: 0.3s;"></div>
    <div class="pull-left leaf3" style="animation-delay: 0.4s;"></div>
    <div class="clearfix"></div>
    <div class="pull-left leaf4" style="animation-delay: 0.5s;"></div>
    <div class="pull-left leaf5" style="animation-delay: 0.6s;"></div>
    <div class="clearfix"></div>
    <div class="pull-left leaf6" style="animation-delay: 0.7s;"></div>
</div>