
<div id="loadingAnimation" hidden="hidden" style="position:fixed;top: 50%;left: 50%; margin-top: -72px; margin-left: -32px;z-index: 1001;">
    <div class="ui-widget-overlay"></div>
    <div class="pull-pull-left barley-top" style="animation-delay: 0s;"></div>
    <div class="clearfix"></div>
    <div class="pull-left parallelogram" style="animation-delay: 0.1s;"></div>
    <div class="pull-left reverse-parallelogram" style="animation-delay: 0.2s;"></div>
    <div class="clearfix"></div>
    <div class="pull-left parallelogram" style="animation-delay: 0.3s;"></div>
    <div class="pull-left reverse-parallelogram" style="animation-delay: 0.4s;"></div>
    <div class="clearfix"></div>
    <div class="pull-left parallelogram" data-anim="6"></div>
    <div class="pull-left reverse-parallelogram" style="animation-delay: 0.5s;"></div>
    <div class="clearfix"></div>
    <div class="pull-left parallelogram" style="animation-delay: 0.6s;"></div>
    <div class="pull-left reverse-parallelogram" style="animation-delay: 0.7s;"></div>
    <div class="clearfix"></div>
    <div class="pull-left parallelogram" style="animation-delay: 0.8s;"></div>
    <div class="pull-left reverse-parallelogram" style="animation-delay: 0.9s;"></div>
    <div class="clearfix"></div>
    <div class="barley-stem" style="animation-delay: 1s;"></div>
</div>
